:8080 {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "same-origin"
        Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://appssdk.zoom.us; style-src 'self' 'unsafe-inline'; connect-src 'self' https: wss:;"
    }

    handle /api/* {
        reverse_proxy localhost:4000{
            flush_interval -1
        }
    }

    handle /auth/* {
        reverse_proxy localhost:4000
    }

    handle /socket.io/* {
        reverse_proxy localhost:4000
    }

    handle {
        reverse_proxy localhost:3000
    }
}